body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Barra de navegación */
nav {
    background-color: #ffa500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    object-fit: contain;
    cursor: pointer;
    margin-top: 40px;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    padding: 5px 10px;
}

.search-bar input {
    border: none;
    outline: none;
    font-size: 16px;
    padding: 5px;
    width: 300px;
}

.search-bar button {
    background: none;
    border: none;
    cursor: pointer;
}

.cart-icon {
    font-size: 24px;
    cursor: pointer;
    margin-left: 20px;
}

.login-button {
    background-color: #00bfff;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
}

/* Botón Categorías */
.category-button {
    background-color: #00bfff;
    color: black;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    margin: 20px;
}
/*Imagen de chicos */
.navbar-image {
    width: 100%;  /* La imagen ocupará el ancho completo de la página */
    height: auto;  /* Mantiene la proporción de la imagen */
    margin-top: 10px;  /* Espacio entre la barra de navegación y la imagen */
}

/* Footer */
footer {
    background-color: #00bfff;
    color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 20px;
    gap: 3px;
    flex-wrap: wrap;
    margin-top: 190px;
}

.footer-section {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0px;
}

.footer-section h4 {
    margin-bottom: 5px;
    font-size: 18px;
    margin: 0px;
}

.footer-section a {
    text-decoration: none;
    color: black;
    margin: 0px;
    font-size: 14px;
}

.footer-section a:hover {
    text-decoration: underline;
}
