<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos para el Hogar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/herramientastyle.css') }}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <!-- Barra de navegación -->
    <nav>
        <div class="logo">
            <a href="{{ url_for('home_page') }}" method="GET">
                <img src="{{ url_for('static', filename='recursos/CRIMASE.png') }}" alt="Logo" width="200" height="200">
            </a>
        </div>
        <div class="search-bar">
            <input type="text" placeholder="Buscar...">
            <button type="submit">
                <img src="{{ url_for('static', filename='recursos/lupa.jpg') }}" alt="Buscar" width="20">
            </button>
        </div>
        <div class="cart-icon">
            <a href="{{ url_for('carrito_page') }}">
                <img src="{{ url_for('static', filename='recursos/carrito.png') }}" alt="Carrito" width="40" height="40">
            </a>
        </div>
        <div class="buttons-container">
            <div class="dropdown">
                <button class="category-button">Categorías</button>
                <div class="dropdown-content">
                    <a href="{{ url_for('hogar_page') }}">Hogar</a>
                    <a href="{{ url_for('jardineria_page') }}">Jardinería</a>
                    <a href="{{ url_for('ropa_page') }}">Ropa</a>
                    <a href="{{ url_for('tecnologia_page') }}">Tecnología</a>
                    <a href="{{ url_for('herramientas_page') }}">Herramientas</a>
                </div>
            </div>
            <a class="button-usuarios" href="{{ url_for('users_page') }}">Usuarios</a>
            {% if session.user_logged_in %}
                <div class="user-profile">
                    <div class="user-menu">
                        <div class="user-avatar">
                            <i class="fas fa-user"></i>
                        </div>
                        <div class="user-dropdown">
                            <span class="username">{{ session.username }}</span>
                            <a href="#"><i class="fas fa-user-circle"></i> Mi Perfil</a>
                            <a href="#"><i class="fas fa-cog"></i> Configuración</a>
                            <a href="{{ url_for('logout') }}" class="logout-button">
                                <i class="fas fa-sign-out-alt"></i> Cerrar Sesión
                            </a>
                        </div>
                    </div>
                </div>
            {% else %}
                <a href="{{ url_for('login_page') }}" class="login-button">Iniciar Sesión</a>
            {% endif %}
        </div>
    </nav>

    <header>
        <section class="category-banner">
            <div class="banner-content">
                <h1>Herramientas</h1>
                <img src="{{ url_for('static', filename='recursos/herramientas.png') }}" alt="Descripción de la imagen" class="navbar-image" width="900"  height="212">      
            </div>
        </section>
        <div class="filters-container">
            <h2>Filtros</h2>
            <button type="button" onclick="toggleFilters()">
                <img src="{{ url_for('static', filename='recursos/filtros.png') }}" alt="filtros" width="20">
            </button>
        </div>
    </header>
    <aside class="filters">
        <div class="filter-options" id="filter-options">
            <div>
                <label for="price-range">Precio:</label>
                <input type="range" id="price-range" name="price-range" min="0" max="1000">
            </div>
            <div>
                <label for="featured">Destacado:</label>
                <select id="featured" name="featured">
                    <option value="yes">Sí</option>
                    <option value="no">No</option>
                </select>
            </div>
        </div>
    </aside>

    <section class="featured-products">
        <div class="product-grid">
            <div class="product-item">
                <img src="{{ url_for('static', filename='recursos/producto5.jpg') }}" alt="Producto 5">
                <p>Candado Anticizalla Bronce Dorado 50Mm CISA</p>
                <p>$3.00</p>
            </div>
            <div class="product-item">
                <img src="{{ url_for('static', filename='recursos/producto6.jpg') }}" alt="Producto 6">
                <p>Truper MA-16F, Martillo pulido, uña curva 16 oz, mango de fibra de vidrio</p>
                <p>$150.00</p>
            </div>
            <div class="product-item">
                <img src="{{ url_for('static', filename='recursos/taladro.jpg') }}" alt="taladro">
                <p>Taladro Tolsen de Impacto de 1/2 Pulg.</p>
                <p>$50.00 c/u</p>
            </div>
            <div class="product-item">
                <img src="{{ url_for('static', filename='recursos/sierra.jpg') }}" alt="sierra">
                <p>Sierra Tolsen Circular Industrial de 7 1/4</p>
                <p>$60.00</p>
            </div>
            <div class="product-item">
                <img src="{{ url_for('static', filename='recursos/sellador.jpg') }}" alt="sellador">
                <p>Sellador  TRUPER acrílico, 280 ml, blanco</p>
                <p>$20.00</p>
            </div>
            <div class="product-item">
                <img src="{{ url_for('static', filename='recursos/dewalt.jpg') }}" alt="dewalt">
                <p>Taladro Percutor sin escobillas XR 18V con 2 baterías Li-Ion 2,0Ah con maletín TSTAK</p>
                <p>$80.00</p>
            </div>
            <div class="product-item">
                <img src="{{ url_for('static', filename='recursos/dados.jpg') }}" alt="dados">
                <p>Ratchet con puntas y copas intercambiables 38 pzas.</p>
                <p>$40.00</p>
            </div>
            <div class="product-item">
                <img src="{{ url_for('static', filename='recursos/desarmadores.jpg') }}" alt="desarmadores">
                <p>Juego de desarmadores 6pzas</p>
                <p>$12.00</p>
            </div>
            <div class="product-item">
                <img src="{{ url_for('static', filename='recursos/llaves.jpg') }}" alt="llaves">
                <p>Juego de llaves allen largas</p>
                <p>$10.00</p>
            </div>
            <div class="product-item">
                <img src="{{ url_for('static', filename='recursos/precisión.jpg') }}" alt="precisión">
                <p>Desarmadores de precisión con mango metálico 6pzas</p>
                <p>$6.00</p>
            </div>
        </div>
    </section>
    <footer>
        <div class="footer-columns">
            <div class="footer-section">
                <h4>Redes Sociales</h4>
                <a href="https://www.facebook.com/"><img src="{{ url_for('static', filename='recursos/facebook.png') }}" alt="Facebook" width="30" height="30"></a>
                <a href="https://www.instagram.com/"><img src="{{ url_for('static', filename='recursos/instagram.png') }}" alt="Instagram" width="30" height="30"></a>
                <a href="https://www.twitter.com/"><img src="{{ url_for('static', filename='recursos/twitter.png') }}" alt="Twitter" width="30" height="30"></a>
            </div>
            <div class="footer-section">
                <h4>Categorías</h4>
                <a href="#">Hogar</a>
                <a href="#">Jardinería</a>
                <a href="#">Ropa</a>
                <a href="#">Tecnología</a>
                <a href="#">Herramientas</a>
            </div>
            <div class="footer-section">
                <h4>Nosotros</h4>
                <a href="#">Términos y Condiciones</a>
                <a href="#">Política de Privacidad</a>
                <a href="#">Política de Cookies</a>
            </div>
            <div class="footer-section">
                <h4>Contacto</h4>
                <p>Teléf: (04)-4536937</p>
                <p>WhatsApp: +593 9856237001</p>
            </div>
        </div>
        <p class="footer-copy">&copy; CRIMASE 2025. Todos los derechos reservados.</p>
    </footer>
    <script>
        function toggleFilters() {
            const filterOptions = document.getElementById('filter-options');
            filterOptions.classList.toggle('active');
        }
    </script>
</body>
</html>
