<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/insertuser_style.css') }}" type="text/css" method="GET">
    <link rel="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>SIPN UP</title>
</head>
<body>
    <h1>Registro Nuevo Usuario</h1>
    <h2>Por favor, ingrese los siguientes datos:</h2>
    <form action="/insert_user" method="POST">
        <div class="input-container">
            <input type="text" id="name" name="name" placeholder=" " required>
            <label for="nombre">Ingrese el Nombre</label>
        </div><br>
        <div class="input-container">
            <input type="text" id="lastname" name="lastname" placeholder=" " required>
            <label for="apellido">Ingrese el Apellido</label>
        </div><br>
        <div class="input-container">
            <input type="email" id="email" name="email" placeholder=" " required>
            <label for="correo">Ingrese el Correo Electrónico</label>
        </div><br>
        <div class="input-container">
            <input type="text" id="username" name="username" placeholder=" " required>
            <label for="username">Ingrese el Nombre de Usuario</label>
        </div><br>
        <div class="input-container">
            <input type="password" id="password" name="password" placeholder=" " required>
            <label for="password">Ingrese la Contraseña</label>
        </div><br>
        <div class="input-container">
            <input type="password" id="password" name="password" placeholder=" " required>
            <label for="password">Confirme la Contraseña</label>
        </div><br>
            <button class="btn-register" type="submit">Registrar</button>
        </div>
        <div>
            <button class="btn-cancel" onclick="window.location.href='{{ url_for('login_page') }}'">Cancelar</button>
        </div>
    </form>
</body>