<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRIMASE - Todo para tu mundo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/menustyle.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>

    <!-- Barra de navegación -->
    <nav>
        <div class="logo">
            <img src="{{ url_for('static', filename='recursos/CRIMASE.png') }}" alt="Logo" width="200" height="200">
        </div>
        <div class="search-bar">
            <input type="text" placeholder="Buscar...">
            <button type="submit"><img src="{{ url_for('static', filename='recursos/lupa.jpg') }}" alt="Buscar" width="20"></button>
        </div>
        <div class="cart-icon">
            <a href="{{ url_for('carrito_page') }}">
                <img src="{{ url_for('static', filename='recursos/carrito.png') }}" alt="Carrito" width="40" height="40">
            </a>
        </div>
        <div class="buttons-container">
            <div class="dropdown">
                <button class="category-button">Categorías</button>
                <div class="dropdown-content">
                    <a href="{{ url_for('hogar_page') }}">Hogar</a>
                    <a href="{{ url_for('jardineria_page') }}">Jardinería</a>
                    <a href="{{ url_for('ropa_page') }}">Ropa</a>
                    <a href="{{ url_for('tecnologia_page') }}">Tecnología</a>
                    <a href="{{ url_for('herramientas_page') }}">Herramientas</a>
                </div>
            </div>
            <a class="button-usuarios" href="{{ url_for('users_page') }}">Usuarios</a>
            {% if session.user_logged_in %}
                <div class="user-profile">
                    <div class="user-menu">
                        <div class="user-avatar">
                            <i class="fas fa-user"></i>
                        </div>
                        <div class="user-dropdown">
                            <span class="username">{{ session.username }}</span>
                            <a href="#"><i class="fas fa-user-circle"></i> Mi Perfil</a>
                            <a href="#"><i class="fas fa-cog"></i> Configuración</a>
                            <a href="{{ url_for('logout') }}" class="logout-button">
                                <i class="fas fa-sign-out-alt"></i> Cerrar Sesión
                            </a>
                        </div>
                    </div>
                </div>
            {% else %}
                <a href="{{ url_for('login_page') }}" class="login-button">Iniciar Sesión</a>
            {% endif %}
        </div>
    </nav>
    
    <!-- Imagen debajo de la barra de navegación -->
    <img src="{{ url_for('static', filename='recursos/chicos.jpg') }}" alt="Descripción de la imagen" class="navbar-image">

    <!-- Contenido principal -->
    <main>
        <h1 class="center-text">LOS MEJORES PRECIOS DEL MERCADO</h1>

        <!-- Productos Destacados -->
        <section class="featured-products">
            <h2 class="center-text">Productos Destacados</h2>
            <div class="product-grid">
                <div class="product-item">
                    <img src="{{ url_for('static', filename='recursos/producto1.jpg') }}" alt="Producto 1">
                    <p>Licuadora clásica Oster®</p>
                    <p>$90.00</p>
                </div>
                <div class="product-item">
                    <img src="{{ url_for('static', filename='recursos/producto2.jpg') }}" alt="Producto 2">
                    <p>Sanduchera Panini 25440</p>
                    <p>$39.00</p>
                </div>
                <div class="product-item">
                    <img src="{{ url_for('static', filename='recursos/producto3.jpg') }}" alt="Producto 3">
                    <p>Computadora Laptop De 14 Pulgadas Pantalla 4K 64Gb De Memoria Cromada 14 Pulgadas Rca</p>
                    <p>$450.00</p>
                </div>
                <div class="product-item">
                    <img src="{{ url_for('static', filename='recursos/producto4.jpg') }}" alt="Producto 4">
                    <p>Mouse Alámbrico RCA</p>
                    <p>$2.00</p>
                </div>
                <div class="product-item">
                    <img src="{{ url_for('static', filename='recursos/producto5.jpg') }}" alt="Producto 5">
                    <p>Candado Anticizalla Bronce Dorado 50Mm CISA</p>
                    <p>$3.00</p>
                </div>
                <div class="product-item">
                    <img src="{{ url_for('static', filename='recursos/producto6.jpg') }}" alt="Producto 6">
                    <p>Truper MA-16F, Martillo pulido, uña curva 16 oz, mango de fibra de vidrio</p>
                    <p>$150.00</p>
                </div>
                <div class="product-item">
                    <img src="{{ url_for('static', filename='recursos/producto7.jpg') }}" alt="Producto 7">
                    <p>Enredadera Tupida Jacinto Del Agua Jardín Vertical 40x60cm</p>
                    <p>$5.00 c/u</p>
                </div>
                <div class="product-item">
                    <img src="{{ url_for('static', filename='recursos/producto8.jpg') }}" alt="Producto 8">
                    <p>Cortasetos eléctrico BLACK + DECKER BEHTS401-QS 500W 55 cm cuchilla</p>
                    <p>$85.00</p>
                </div>
                <div class="product-item">
                    <img src="{{ url_for('static', filename='recursos/producto9.jpg') }}" alt="Producto 9">
                    <p>JMIERR Paquete de 3 camisetas de algodón Hipster Hip Hop de cuello redondo para hombre</p>
                    <p>$40.00</p>
                </div>
                <div class="product-item">
                    <img src="{{ url_for('static', filename='recursos/producto10.jpg') }}" alt="Producto 10">
                    <p>YEOREO - Shorts de ciclismo para mujer, sin costuras, con cintura alta, para entrenamiento, yoga y gimnasio, estilizan tu figura</p>
                    <p>$20.00</p>
                </div>
            </div>
        </section>
    </main>
    <!-- Footer -->
    <footer>
        <div class="footer-columns">
            <div class="footer-section">
                <h4>Redes Sociales</h4>
                <a href="https://www.facebook.com/"><img src="{{ url_for('static', filename='recursos/facebook.png') }}" alt="Facebook" width="30" height="30"></a>
                <a href="https://www.instagram.com/"><img src="{{ url_for('static', filename='recursos/instagram.png') }}" alt="Instagram" width="30" height="30"></a>
                <a href="https://www.twitter.com/"><img src="{{ url_for('static', filename='recursos/twitter.png') }}" alt="Twitter" width="30" height="30"></a>
            </div>
            <div class="footer-section">
                <h4>Categorías</h4>
                <a href="#">Hogar</a>
                <a href="#">Jardinería</a>
                <a href="#">Ropa</a>
                <a href="#">Tecnología</a>
                <a href="#">Herramientas</a>
            </div>
            <div class="footer-section">
                <h4>Nosotros</h4>
                <a href="#">Términos y Condiciones</a>
                <a href="#">Política de Privacidad</a>
                <a href="#">Política de Cookies</a>
            </div>
            <div class="footer-section">
                <h4>Contacto</h4>
                <p>Teléf: (04)-4536937</p>
                <p>WhatsApp: +593 9856237001</p>
            </div>
        </div>
        <p class="footer-copy">&copy; CRIMASE 2025. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
