<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos para el Hogar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/ropastyle.css') }}" type="text/css">
</head>
<body>
    <!-- Barra de navegación -->
    <nav>
        <div class="logo">
            <img src="{{ url_for('static', filename='recursos/CRIMASE.png') }}" alt="Logo" width="200" height="200">
        </div>
        <div class="search-bar">
            <input type="text" placeholder="Buscar...">
            <button type="submit">
                <img src="{{ url_for('static', filename='recursos/lupa.jpg') }}" alt="Buscar" width="20">
            </button>
        </div>
        <div class="cart-icon">
            <a href="{{ url_for('carrito_page') }}">
                <img src="{{ url_for('static', filename='recursos/carrito.png') }}" alt="Carrito" width="40" height="40">
            </a>
        </div>
        <div class="buttons-container">
            <div class="dropdown">
                <button class="category-button">Categorías</button>
                <div class="dropdown-content">
                    <a href="{{ url_for('hogar_page') }}">Hogar</a>
                    <a href="{{ url_for('jardineria_page') }}">Jardinería</a>
                    <a href="{{ url_for('ropa_page') }}">Ropa</a>
                    <a href="{{ url_for('tecnologia_page') }}">Tecnología</a>
                    <a href="{{ url_for('herramientas_page') }}">Herramientas</a>
                </div>
            </div>
            <a class="button-usuarios" href="{{ url_for('users_page') }}">Usuarios</a>
            {% if session.user_logged_in %}
                <div class="user-profile">
                    <div class="user-menu">
                        <div class="user-avatar">
                            <i class="fas fa-user"></i>
                        </div>
                        <div class="user-dropdown">
                            <span class="username">{{ session.username }}</span>
                            <a href="#"><i class="fas fa-user-circle"></i> Mi Perfil</a>
                            <a href="#"><i class="fas fa-cog"></i> Configuración</a>
                            <a href="{{ url_for('logout') }}" class="logout-button">
                                <i class="fas fa-sign-out-alt"></i> Cerrar Sesión
                            </a>
                        </div>
                    </div>
                </div>
            {% else %}
                <a href="{{ url_for('login_page') }}" class="login-button">Iniciar Sesión</a>
            {% endif %}
        </div>
    </nav>

    <header>
        <section class="category-banner">
            <div class="banner-content">
                <h1>ROPA</h1>
                <img src="{{ url_for('static', filename='recursos/ropa.png') }}" alt="Descripción de la imagen" class="navbar-image" width="900"  height="212">      
            </div>
        </section>
        <div class="filters-container">
            <h2>Filtros</h2>
            <button type="button" onclick="toggleFilters()">
                <img src="{{ url_for('static', filename='recursos/filtros.png') }}" alt="filtros" width="20">
            </button>
        </div>
    </header>
    <aside class="filters">
        <div class="filter-options" id="filter-options">
            <div>
                <label for="price-range">Precio:</label>
                <input type="range" id="price-range" name="price-range" min="0" max="1000">
            </div>
            <div>
                <label for="featured">Destacado:</label>
                <select id="featured" name="featured">
                    <option value="yes">Sí</option>
                    <option value="no">No</option>
                </select>
            </div>
        </div>
    </aside>

    <section class="featured-products">
        <div class="product-grid">
            <div class="product-item">
                <img src="{{ url_for('static', filename='recursos/producto9.jpg') }}" alt="Producto 9">
                <p>JMIERR Paquete de 3 camisetas de algodón Hipster Hip Hop de cuello redondo para hombre</p>
                <p>$40.00</p>
            </div>
            <div class="product-item">
                <img src="{{ url_for('static', filename='recursos/producto10.jpg') }}" alt="Producto 10">
                <p>YEOREO - Shorts de ciclismo para mujer, sin costuras, con cintura alta, para entrenamiento, yoga y gimnasio, estilizan tu figura</p>
                <p>$20.00</p>
            </div>
            <div class="product-item">
                <img src="{{ url_for('static', filename='recursos/camiseta.jpg') }}" alt="camiseta">
                <p>Camiseta corta de 3 piezas para mujer, cuello redondo, manga corta, elástica, ajustada, para mujer</p>
                <p>$30.00 c/u</p>
            </div>
            <div class="product-item">
                <img src="{{ url_for('static', filename='recursos/mangalarga.jpg') }}" alt="mangalarga">
                <p>Camisas de 2 piezas para mujer, de manga larga, cuello redondo, elásticas, fruncidas, básicas, ajustadas</p>
                <p>$20.00</p>
            </div>
            <div class="product-item">
                <img src="{{ url_for('static', filename='recursos/hombre.jpg') }}" alt="hombre">
                <p>Conjunto deportivo de 2 piezas para hombre, manga corta, sudadera con cremallera de 1/4, polo de golf, pantalones cortos de verano, ropa de descanso</p>
                <p>$20.00</p>
            </div>
            <div class="product-item">
                <img src="{{ url_for('static', filename='recursos/conjunto.jpg') }}" alt="conjunto">
                <p>JMIERR Conjunto de 2 piezas para hombre, camisa de manga corta con botones y pantalones sueltos con bolsillo</p>
                <p>$30.00</p>
            </div>
            <div class="product-item">
                <img src="{{ url_for('static', filename='recursos/sandalia.jpg') }}" alt="sandalia">
                <p>Madden Girl Sandalia de tacón para mujer</p>
                <p>$20.00</p>
            </div>
            <div class="product-item">
                <img src="{{ url_for('static', filename='recursos/botin.jpg') }}" alt="botin">
                <p>DREAM PAIRS. FRE - Botines de tacón alto estilo Chelsea para mujer</p>
                <p>$40.00</p>
            </div>
            <div class="product-item">
                <img src="{{ url_for('static', filename='recursos/mocasin.jpg') }}" alt="mocasin">
                <p>Go Tour Mocasines Penny para hombre, mocasines para conducir, zapatos planos para barco</p>
                <p>$40.00</p>
            </div>
            <div class="product-item">
                <img src="{{ url_for('static', filename='recursos/nike.jpg') }}" alt="nike">
                <p>Nike Blazer - Mid 77 Vintage, tenis para hombre</p>
                <p>$60.00</p>
            </div>

        </div>
    </section>
    <footer>
        <div class="footer-columns">
            <div class="footer-section">
                <h4>Redes Sociales</h4>
                <a href="https://www.facebook.com/"><img src="{{ url_for('static', filename='recursos/facebook.png') }}" alt="Facebook" width="30" height="30"></a>
                <a href="https://www.instagram.com/"><img src="{{ url_for('static', filename='recursos/instagram.png') }}" alt="Instagram" width="30" height="30"></a>
                <a href="https://www.twitter.com/"><img src="{{ url_for('static', filename='recursos/twitter.png') }}" alt="Twitter" width="30" height="30"></a>
            </div>
            <div class="footer-section">
                <h4>Categorías</h4>
                <a href="#">Hogar</a>
                <a href="#">Jardinería</a>
                <a href="#">Ropa</a>
                <a href="#">Tecnología</a>
                <a href="#">Herramientas</a>
            </div>
            <div class="footer-section">
                <h4>Nosotros</h4>
                <a href="#">Términos y Condiciones</a>
                <a href="#">Política de Privacidad</a>
                <a href="#">Política de Cookies</a>
            </div>
            <div class="footer-section">
                <h4>Contacto</h4>
                <p>Teléf: (04)-4536937</p>
                <p>WhatsApp: +593 9856237001</p>
            </div>
        </div>
        <p class="footer-copy">&copy; CRIMASE 2025. Todos los derechos reservados.</p>
    </footer>
    <script>
        function toggleFilters() {
            const filterOptions = document.getElementById('filter-options');
            filterOptions.classList.toggle('active');
        }
    </script>
</body>
</html>
