<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos para el Hogar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/tecnologiastyle.css') }}" type="text/css">
</head>
<body>
    <!-- Barra de navegación -->
    <nav>
        <div class="logo">
            <img src="{{ url_for('static', filename='recursos/CRIMASE.png') }}" alt="Logo" width="200" height="200">
        </div>
        <div class="search-bar">
            <input type="text" placeholder="Buscar...">
            <button type="submit">
                <img src="{{ url_for('static', filename='recursos/lupa.jpg') }}" alt="Buscar" width="20">
            </button>
        </div>
        <div class="cart-icon">
            <a href="{{ url_for('carrito_page') }}">
                <img src="{{ url_for('static', filename='recursos/carrito.png') }}" alt="Carrito" width="40" height="40">
            </a>
        </div>
        <div class="buttons-container">
            <div class="dropdown">
                <button class="category-button">Categorías</button>
                <div class="dropdown-content">
                    <a href="{{ url_for('hogar_page') }}">Hogar</a>
                    <a href="{{ url_for('jardineria_page') }}">Jardinería</a>
                    <a href="{{ url_for('ropa_page') }}">Ropa</a>
                    <a href="{{ url_for('tecnologia_page') }}">Tecnología</a>
                    <a href="{{ url_for('herramientas_page') }}">Herramientas</a>
                </div>
            </div>
            <a class="button-usuarios" href="{{ url_for('users_page') }}">Usuarios</a>
            {% if session.user_logged_in %}
                <div class="user-profile">
                    <div class="user-menu">
                        <div class="user-avatar">
                            <i class="fas fa-user"></i>
                        </div>
                        <div class="user-dropdown">
                            <span class="username">{{ session.username }}</span>
                            <a href="#"><i class="fas fa-user-circle"></i> Mi Perfil</a>
                            <a href="#"><i class="fas fa-cog"></i> Configuración</a>
                            <a href="{{ url_for('logout') }}" class="logout-button">
                                <i class="fas fa-sign-out-alt"></i> Cerrar Sesión
                            </a>
                        </div>
                    </div>
                </div>
            {% else %}
                <a href="{{ url_for('login_page') }}" class="login-button">Iniciar Sesión</a>
            {% endif %}
        </div>
    </nav>

    <header>
        <section class="category-banner">
            <div class="banner-content">
                <h1>Tecnología</h1>
                <img src="{{ url_for('static', filename='recursos/tecnologia.png') }}" alt="Descripción de la imagen" class="navbar-image" width="900"  height="212">      
            </div>
        </section>
        <div class="filters-container">
            <h2>Filtros</h2>
            <button type="button" onclick="toggleFilters()">
                <img src="{{ url_for('static', filename='recursos/filtros.png') }}" alt="filtros" width="20">
            </button>
        </div>
    </header>
    <aside class="filters">
        <div class="filter-options" id="filter-options">
            <div>
                <label for="price-range">Precio:</label>
                <input type="range" id="price-range" name="price-range" min="0" max="1000">
            </div>
            <div>
                <label for="featured">Destacado:</label>
                <select id="featured" name="featured">
                    <option value="yes">Sí</option>
                    <option value="no">No</option>
                </select>
            </div>
        </div>
    </aside>

    <section class="featured-products">
        <div class="product-grid">
            <div class="product-item">
                <img src="{{ url_for('static', filename='recursos/producto3.jpg') }}" alt="Producto 3">
                <p>Computadora Laptop De 14 Pulgadas Pantalla 4K 64Gb De Memoria Cromada 14 Pulgadas Rca</p>
                <p>$400.00</p>
            </div>
            <div class="product-item">
                <img src="{{ url_for('static', filename='recursos/producto4.jpg') }}" alt="Producto 4">
                <p>Mouse Alámbrico RCA</p>
                <p>$2.00</p>
            </div>
            <div class="product-item">
                <img src="{{ url_for('static', filename='recursos/samsung.jpg') }}" alt="samsung">
                <p>SAMSUNG Galaxy A16 5G Serie A, teléfono inteligente Android desbloqueado, pantalla AMOLED grande, diseño duradero, carga súper rápida, almacenamiento expandible, versión estadounidense, 2025, azul</p>
                <p>$175.00 c/u</p>
            </div>
            <div class="product-item">
                <img src="{{ url_for('static', filename='recursos/tcl.jpg') }}" alt="tcl">
                <p>TCL Smart TV Class S5 UHD 4K LED de 55 pulgadas con Fire TV (modelo 55S551F, 2024), Dolby Vision, HDR PRO+, Dolby Atmos, Alexa integrado con control remoto de voz, compatibilidad con Apple AirPlay 2</p>
                <p>$500.00</p>
            </div>
            <div class="product-item">
                <img src="{{ url_for('static', filename='recursos/jbl.jpg') }}" alt="jbl">
                <p>JBL PartyBox 110 - Altavoz portátil para fiestas con luces integradas, sonido potente y graves profundos, color negro</p>
                <p>$290.00</p>
            </div>
            <div class="product-item">
                <img src="{{ url_for('static', filename='recursos/teclado.jpg') }}" alt="teclado">
                <p>Redragon Teclado mecánico para juegos RGB LED Rainbow retroiluminado con cable con interruptores rojos para Windows Gaming PC</p>
                <p>$33.00</p>
            </div>
            <div class="product-item">
                <img src="{{ url_for('static', filename='recursos/sony.jpg') }}" alt="sony">
                <p>Sony MDR-ZX310AP ZX Series Auriculares con cable en la oreja con micrófono, azul, 1 x 1 x 1 pulgada</p>
                <p>$20.00</p>
            </div>
            <div class="product-item">
                <img src="{{ url_for('static', filename='recursos/virtual.jpg') }}" alt="virtual">
                <p>DESTEK V5 VR Headset for Phone with Controller, Anti-Blue Eyes Protected HD Lenses, 110° FOV Virtual Reality Headsets VR Goggles for iPhone 15/14/13/12/11, Samsung, Android - White</p>
                <p>$57.00</p>
            </div>
            <div class="product-item">
                <img src="{{ url_for('static', filename='recursos/cargador.jpg') }}" alt="cargador">
                <p>Yiisonger Banco de energía inalámbrico, ultra delgado de 10000 mAh, cargador portátil magnético de 22.5 W PD de carga rápida, mini batería QC3.0 pantalla LED compatible con iPhone 16/15/14/13/12</p>
                <p>$25.00</p>
            </div>
            <div class="product-item">
                <img src="{{ url_for('static', filename='recursos/dell.jpg') }}" alt="dell">
                <p>Dell Inspiron - Laptop con pantalla táctil, computadora portátil de negocios y estudiantes de 15.6 pulgadas, Windows 11 Pro, 32 GB de RAM SSD de 1 TB, procesador Intel i5-1155G7, pantalla IPS Full HD</p>
                <p>$515.00</p>
            </div>

        </div>
    </section>
    <footer>
        <div class="footer-columns">
            <div class="footer-section">
                <h4>Redes Sociales</h4>
                <a href="https://www.facebook.com/"><img src="{{ url_for('static', filename='recursos/facebook.png') }}" alt="Facebook" width="30" height="30"></a>
                <a href="https://www.instagram.com/"><img src="{{ url_for('static', filename='recursos/instagram.png') }}" alt="Instagram" width="30" height="30"></a>
                <a href="https://www.twitter.com/"><img src="{{ url_for('static', filename='recursos/twitter.png') }}" alt="Twitter" width="30" height="30"></a>
            </div>
            <div class="footer-section">
                <h4>Categorías</h4>
                <a href="#">Hogar</a>
                <a href="#">Jardinería</a>
                <a href="#">Ropa</a>
                <a href="#">Tecnología</a>
                <a href="#">Herramientas</a>
            </div>
            <div class="footer-section">
                <h4>Nosotros</h4>
                <a href="#">Términos y Condiciones</a>
                <a href="#">Política de Privacidad</a>
                <a href="#">Política de Cookies</a>
            </div>
            <div class="footer-section">
                <h4>Contacto</h4>
                <p>Teléf: (04)-4536937</p>
                <p>WhatsApp: +593 9856237001</p>
            </div>
        </div>
        <p class="footer-copy">&copy; CRIMASE 2025. Todos los derechos reservados.</p>
    </footer>
    <script>
        function toggleFilters() {
            const filterOptions = document.getElementById('filter-options');
            filterOptions.classList.toggle('active');
        }
    </script>
</body>
</html>
